/* 
css for the index boxes
*/

h1,
h2,
h3 {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-style: bold;
}

h4,
h5,
h6 {
    font-family: 'Roboto Slab';
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: 'Roboto Slab';
    font-weight: light;
    font-style: light;
    color: #757575;
}

.navbar-light {
    padding: 10px 0 !important;
}

.navbar-light .navbar-nav .nav-link {
    padding: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #1b28dd;
}

#index-main {
    min-height: 75vh;
    padding-top: 7vh;
}

#index-main .action-box {
    display: block;
}

#index-main a {
    text-decoration: none;
    color: none;
}

i.bi {
    font-size: 30px;
}


/*
* Quick tips
*/

#earning {
    padding-top: 4.5em;
}

#quickTip {
    padding-top: 4.5em;
}

.nav-tabs .nav-link {
    font-size: 18px;
    font-weight: bold;
}


/*
* testiomonial
*/

#testimonial {
    padding-top: 5.5em;
}

#testimonial img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: top;
}

#testimonial .client {
    padding-bottom: 80px;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
}


/*
* upToo
*/

#upToo {
    min-height: 100vh;
    padding: 6em;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

footer p {
    color: rgba(255, 255, 255, .7);
}

footer a {
    color: rgba(255, 255, 255, .7);
    ;
}


/*
* Charity page css
*/

#charitypage {
    min-height: 70vh;
    min-width: 100%;
    padding-top: 25vh;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/static/ibanking/images/charity2.jpg");
    background-position: contain;
    color: #FFF;
}


/*
*
*  admin css
*
*/

#staffadmin {
    min-height: 100vh;
    background: seagreen;
}

#staffadmin a {
    display: block;
    color: inherit;
}

#staffadmin a .bi {
    font-size: 3rem;
}

.table th {
    font-weight: 700;
    font-size: 16px;
}