{% extends 'ibanking/base.html' %}{% load static %} {% block content %}

<section id="charitypage">
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-6 mx-auto">
                <div class="text-center">
                    <h1>
                        Our hearts should be touched to make a sizable donations to those in need.
                    </h1>
                    <p class="text-white-75">
                        Bank Of Industry Worldwide NGO section, we have vowed that hugh chucked of our proceeds shall go to charity.
                    </p>
                    <p>
                        <a href="#" target="_blank" class=" btn btn-danger">
                            make a donation today
                        </a>
                    </p>
                </div>
            </article>
        </section>
    </div>
</section>

<section style="padding: 4em 10px;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class=" h3 pb-5">
                    Make your donation today, let your impact be felt.
                </h1>
            </div>
            <div class="row">
                <article class="col-12 col-md-6 pb-5">
                    <div class=" d-flex border p-3 rounded">
                        <img src="{% static 'ibanking/images/war.png' %}" alt="" class="img-fluid" style="width: 120px; height: 120px;">
                        <div class="ps-4">
                            <h5>Those Affected By War</h5>
                            <p class="pt-3 text-muted">
                                You can make donations to those who has been affected wars all over world. Your donation can get a bed, clothings, heatings, food, and transportation etc.
                            </p>
                        </div>
                    </div>
                </article>
                <article class="col-12 col-md-6 pb-5">
                    <div class=" d-flex border p-3 rounded">
                        <img src="{% static 'ibanking/images/red-cross.png' %}" alt="" class="img-fluid" style="width: 120px; height: 120px;">
                        <div class="ps-4">
                            <h5>Red Cross</h5>
                            <p class="pt-3 text-muted">
                                Red Cross is an organization, arguably make the most impact in the modern world. Their contributions can never go unnoticed. You can help make them feel appreciated.
                            </p>
                        </div>
                    </div>
                </article>
                <article class="col-12 col-md-6 pb-5">
                    <div class=" d-flex border p-3 rounded">
                        <img src="{% static 'ibanking/images/patient.png' %}" alt="" class="img-fluid" style="width: 120px; height: 120px;">
                        <div class="ps-4">
                            <h5>Hospital Bills</h5>
                            <p class="pt-3 text-muted">
                                Touch a patient life today by paying their hospital bill. Alot of people are suffering from various illnesses that has eaten deep into their savings, you can be an angel today.
                            </p>
                        </div>
                    </div>
                </article>
                <article class="col-12 col-md-6 pb-5">
                    <div class=" d-flex border p-3 rounded">
                        <img src="{% static 'ibanking/images/elephant.png' %}" alt="" class="img-fluid" style="width: 120px; height: 120px;">
                        <div class="ps-4">
                            <h5>Speak For The Voiceless</h5>
                            <p class="pt-3 text-muted">
                                Are you an animal lover, animal protector, this is an oppotunity to help rescued dogs, cats, and wild life. You can help find a shelder, adoptive homes or for the wild life conservation free from interferaences.
                            </p>
                        </div>
                    </div>
                </article>
                <article class="col-12 col-md-6 pb-5 mx-auto pt-4">
                    <div>
                        <a href="{% url 'contact' %}" class=" btn btn-lg col-12 btn-danger">
                            Contact Us
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

{% endblock content %}