{% extends 'base.html' %}{% load static %} {% block content %}

<section id="charitypage">
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-6 mx-auto">
                <div class="text-center">
                    <h1>investing in all of us and those in critical need</h1>
                    <p>
                        Our hearts should be touched to make a sizable donations to those in need.
                    </p>
                    <p>
                        <a href="#" target="_blank" class=" btn btn-danger">
                            make a donation today
                        </a>
                    </p>
                </div>
            </article>
        </section>
    </div>
</section>

{% endblock content %}