{% extends 'ibanking/base.html' %}{% load static %} {% block content %}

<section class="" id="index-main">
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-5 align-self-center">
                <h5 class="pb-2 text-primary animate__animated animate__fadeIn animate__delay-2s">
                    Bank Of Industry & Finance, WorldWide.
                </h5>
                <h1 class=" animate__animated animate__fadeInDown animate__delay-1s">
                    WE PROVIDE SOLUTIONS, TO WOW YOU.</h1>
                <p class="py-4">
                    We are a wealth accumulation, customer centric bank firm.
                    <br /> We provide easier path to wealth.
                </p>
                <p class=" animate__animated animate__fadeInUp animate__delay-2s">
                    {% if user.is_authenticated and request.user.is_staff %}
                    <a href="{% url 'adminpage' %}" class="btn btn-lg btn-danger col-8">
                        ADMIN DASHBOARD!!!
                    </a> {% elif user.is_authenticated %}
                    <a href="{% url 'contact' %}" class="btn btn-lg btn-danger col-8">
                        CONTACT US!!!
                    </a>
                    <br />
                    <small class=" text-muted">feel free to contact us</small> {% else %}
                    <a href="{% url 'account_login' %}" class="btn btn-lg btn-danger col-8">
                        SIGN IN NOW !!!
                    </a> {% endif %}
                </p>
            </article>

            <article class="col-12 col-md-7">
                <div style="clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);" class="animate__animated animate__fadeInRight">
                    <img src="{% static 'ibanking/images/indeximg.jpg' %}" alt="" class="img-fluid shadow-lg">
                </div>
            </article>
        </section>
    </div>
</section>
<section class="bg-danger text-white">
    <div class="container">
        <section class="row p-4">
            <article class="col-6 col-md-3">
                <div class=" d-flex flex-column flex-sm-row mb-3 border-end">
                    <i class="bi bi-wallet2 text-dark"></i>
                    <div class="ps-md-3">
                        <h5>Online Payment</h5>
                        <small class="text-white-50">
                            Bank Online without stress.
                        </small>
                    </div>
                </div>
            </article>
            <article class="col-6 col-md-3">
                <div class=" d-flex flex-column flex-sm-row border-end mb-3">
                    <i class="bi bi-cash-coin text-dark"></i>
                    <div class="ps-md-3">
                        <h5>Quick Loans</h5>
                        <small class="text-white-50">
                            Get Loan for your business.
                        </small>
                    </div>
                </div>
            </article>
            <article class="col-6 col-md-3">
                <div class=" d-flex flex-column flex-sm-row mb-3 border-end">
                    <i class="bi bi-credit-card text-dark"></i>
                    <div class="ps-sm-3">
                        <h5>Credit Card</h5>
                        <small class="text-white-50">
                            Get your credit card at comfort.
                        </small>
                    </div>
                </div>
            </article>
            <article class="col-6 col-md-3">
                <div class=" d-flex flex-column flex-sm-row mb-3">
                    <i class="bi bi-bank text-dark"></i>
                    <div class="ps-sm-3">
                        <h5>Quick Investment</h5>
                        <small class="text-white-50">
                            Invest With Big Returns.
                        </small>
                    </div>
                </div>
            </article>
        </section>
    </div>
</section>

<section id="earning">
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-6">
                <img src="{% static 'ibanking/images/earning.jpg' %}" alt="" class="img-fluid shadow" data-aos="zoom-in">
            </article>
            <article class="col-12 col-md-5 p-2 p-sm-4 align-self-center">
                <div>
                    <h3>You Can Earn $30,000 From Us.</h3>
                    <p class="pt-4">
                        You can earn as much as $30,000 by having one of the following accounts with us. We are also a bridge between wealthy clients, donors with affiliation with <span>JUST
                            GIVING</span>.
                        <br> Be a benefactor today.
                    </p>
                    <div class="d-flex justify-content-between">
                        <span class="text-center" data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-wallet"></i>
                            <h5 class=" text-primary">Savings</h5>
                        </span>
                        <span class="text-center" data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-wallet-fill"></i>
                            <h5 class=" text-primary">Business</h5>
                        </span>
                        <span class="text-center" data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-wallet2"></i>
                            <h5 class=" text-primary">Industrial Account</h5>
                        </span>
                    </div>
                </div>
            </article>
        </section>
        <section class="row bg-light mt-5">
            <article class="col-12 col-md-6 align-self-center p-0 m-0">
                <div class="p-2 p-sm-4">
                    <h3>
                        Choose The Right Credit Today.
                    </h3>
                    <p class="pt-4">
                        We provide you atm card that can be used in any part of world. Our Industrial is a tried and tested card that be used to buy and trade, accepted by 99.9% E-shopping outlets and atm machines.
                    </p>
                </div>
            </article>
            <article class="col-12 col-md-6 p-0 m-0">
                <img src="{% static 'ibanking/images/atmcard1.jpg' %}" alt="" class="img-fluid p-0 m-0" style="width: 100%; padding: 0;" data-aos="zoom-in">
            </article>
        </section>
    </div>
</section>


<section id="quickTip">
    <div class="container">
        <h1 class="mb-5">
            Quick Easy Tips
        </h1>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Banking
                    Infos</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Make
                    Transfer</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Beware Of
                    Scam</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <section class="container">
                    <div class="row py-5">
                        <article class="col-12 col-md-5 offset-md-1">
                            <img src="{% static 'ibanking/images/bankinginfos.jpg' %}" alt="" class="img-fluid shadow-lg">
                        </article>
                        <article class="col-12 col-md-5 align-self-center p-3">
                            <p>
                                We try to make things easy for our clients through ibanking. To Access your bank infomations all you need to do is login into your account using your account number and password. There you can find all necessary informations about your account.
                            </p>
                        </article>
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <section class="container">
                    <div class="row py-5">
                        <article class="col-12 col-md-5  offset-md-1 align-self-center">
                            <p>
                                Initiate transfer as by entering necessary information through your account. Money is transfered instantly within 24hours irrespective of country, city, or state. This is why we are known to be the best.
                            </p>
                        </article>
                        <article class="col-12 col-md-5">
                            <img src="{% static 'ibanking/images/transfers.jpg' %}" alt="" class="img-fluid shadow-lg">
                        </article>
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <section class="container">
                    <div class="row py-5">
                        <article class="col-12 col-md-5 offset-md-1">
                            <img src="{% static 'ibanking/images/scamalert.jpg' %}" alt="" class="img-fluid shadow-lg">
                        </article>
                        <article class="col-12 col-md-5 align-self-center">
                            <p>
                                Our AI technologies and advance machine learning help detects scam easily and automatically block such accounts. Your security is our priorities, and we give it our undivided attention here at bank of Industries & Finance WorldWide.
                            </p>
                        </article>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>


<section id="testimonial" class=" bg-light">
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-7">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">

                            <div class="d-block client">
                                <p class="text-muted">I have been in the industry for many decade, BOI have been a bank to trust, safe to bank with with a smile. Thank you bank of industry and finance.
                                </p>
                                <h5>Lars Peter</h5>
                                <p class="text-primary pb-4 ">
                                    Senior Business Manager
                                </p>
                                <img src="{% static 'ibanking/images/client2.jpg' %}" class="img-fluid rounded-circle" alt="...">
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">

                            <div class="d-block client">
                                <p class="text-muted">I thought it was going to be a stress to transfer money from my account. I was surprise how easy it could be. thank you.
                                </p>
                                <h5>Feng Wu</h5>
                                <p class="text-primary pb-4">
                                    School Teacher & Freelancer.
                                </p>
                                <img src="{% static 'ibanking/images/client3.jpg' %}" class="img-fluid rounded-circle" alt="...">
                            </div>
                        </div>
                        <div class="carousel-item">

                            <div class="d-block client">
                                <p class="text-muted">
                                    Being a top execuitve I can easily speak on the rich benefits and ease to do business with a company as BOI & Finance worldwide.
                                </p>
                                <h5>Stephen Robertson Ski.</h5>
                                <p class="text-primary pb-4">
                                    Senior Tech Executive.
                                </p>
                                <img src="{% static 'ibanking/images/client1.jpg' %}" class="img-fluid rounded-circle" alt="...">
                            </div>
                        </div>
                    </div>
                </div>

            </article>
            <article class="col-12 col-md-4">
                <p>From our clients</p>
                <h4>Hear What Our Clients Are Saying.</h4>
            </article>
        </section>
    </div>
</section>
<section class=" bg-primary p-5 text-center text-white">
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-6 mx-auto">
                <h1 class="text-center text-white">
                    <i class="bi bi-chat-right-quote text-warning"></i> Charity Brings To Life Again Those Who Are Spiritually Dead.

                </h1>
                <p class="pt-4">
                    <a href="#" class="btn btn-danger">
                        Click To Donate
                    </a>
                </p>
            </article>
        </section>
    </div>
</section>

<section id="upToo" class="bg-light">
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-6">
                <h1 class="pb-5">
                    What We Have Been Up Too.
                </h1>
            </article>
        </section>
        <section class="row gx-4">
            <article class="col-12 col-md-4">
                <div class="bg-white shadow rounded-9 mb-4" data-aos="zoom-up" data-aos-delay="100">
                    <img src="{% static 'ibanking/images/charity.jpg' %}" class="img-fluid rounded" alt="..." style="width: 100%; height: 250px; object-fit: cover;">
                    <div class="p-4">
                        <h4 class="pt-2" data-aos="fade-up">
                            Charity & Spirituality, Why we should Always Help.
                        </h4>
                        <p class="text-muted py-3">
                            <small>
                                Charity has been one of the most powerful
                                virtues
                                that helps heals the human mind. If not for sin
                                giving has been one of Man impulses...
                            </small>
                        </p>

                        <a class="btn btn-primary" href="{% url 'contact' %}">
                            Know More >
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-12 col-md-4">
                <div class="bg-white shadow rounded-9 mb-4" data-aos="zoom-up" data-aos-delay="150">
                    <img src="{% static 'ibanking/images/piggyimg.jpg' %}" class="img-fluid" alt="..." style="width: 100%; height: 250px; object-fit: cover;">
                    <div class="p-4">
                        <h4 class="pt-2">
                            Skills, Learn Ultimate Skills of Savings.
                        </h4>
                        <p class="text-muted py-3">
                            <small>
                                Twice A year we hold online seminars to help our
                                customers learn how to save. Is saving a skill,
                                does
                                it help generate wealth or not, find out soon.
                            </small>
                        </p>

                        <a class="btn btn-primary" href="{% url 'contact' %}">
                            Know More <span>></span>
                        </a>
                    </div>
                </div>
            </article>

            <article class="col-12 col-md-4">
                <div class=" shadow rounded bg-white rounded-9" data-aos="zoom-up" data-aos-delay="200">
                    <img src="{% static 'ibanking/images/holidaysimg.jpg' %}" class="img-fluid" alt="..." style="width: 100%; height: 250px; object-fit: cover;">
                    <div class="p-4">
                        <h4 class="pt-2" data-aos="fade-up">
                            Your Dream Holidays Are Closer Than You Think.
                        </h4>
                        <p class="py-3">
                            <small>
                                We have been dishing out alot of bonuses, high
                                interest rates to our loyal, interested
                                customers. Helping them achieve their dream
                                lives...
                            </small>
                        </p>
                        <a class=" btn btn-primary" href="{% url 'contact' %}">
                            Know More <span>></span>
                        </a>
                    </div>
                </div>
            </article>
        </section>
    </div>
</section>

{% endblock content %}