{% extends 'ibanking/base.html' %}{% load static %} {% load crispy_forms_tags %} {% block content %}
<section class="py-5" style="min-height: 100vh;">
    <div class="container">
        <section class="row py-5 px-3 bg-light">
            <article class=" col-12 col-md-5 align-self-center">
                <div class="text-center">
                    <div>
                        <i class="bi bi-person-check text-danger" style="font-size:5em"></i>
                        <h4>Sender's Information.</h4>
                        <p><span>Sender's Name: </span><b class="text-dark">{{user.last_name}}
                            {{request.user.first_name}}</b> </p>
                        <p>Balance: <b class="text-dark">&#36;{{user.profile.balance}}</b></p>
                    </div>

                    <div>
                        <p>
                            <small>Please make sure your IBAN (International Bank Account Number) Number and pin are correct.</small>  
                        </p>
                        <p>
                            <small class="text-danger">Required for International
                                Transfer</small> <br /> {{ user.profile.country}}51 SOUTH 212374 {{ user.profile.account_number}}
                        </p>
                    </div>
            </div>
            </article>

            <article class="col-12 col-md-5 mx-auto bg-white p-sm-0 shadow-sm">
                <div class="text-center bg-primary  p-3">
                    <h4 class="text-white p-0 m-0">INTERNATIONAL TRANSFER FORM</h4>
                </div>
                <form method="post" action="" class="p-2 p-md-5">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-12 col-md-6 mb-3">
                            {{form.amount|as_crispy_field}}             
                        </div>
                        <div class="form-group col-12 col-md-6 mb-3">
                            {{ form.IBAN|as_crispy_field }}
                        </div>
                        <div class="form-group col-12 col-md-8 mb-3">
                            {{ form.receivers_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-4 col-md-4 mb-3">
                            {{ form.pin|as_crispy_field }}
                        </div>
                        <div class="form-group col-8 col-md-6 mb-4">
                            {{ form.beneficiary_account_number|as_crispy_field }}
                        </div>
                        <div class="form-group col-12 col-md-6">
                            {{ form.country|as_crispy_field }}
                        </div>
                        <div class="form-group col-12">
                            {{ form.beneficiary_bank_address|as_crispy_field }}
                        </div>

                        <div class="pt-4">
                            <button class="btn btn-lg btn-danger col-12" type="submit">
                                SUBMIT TRANSFER
                            </button>
                        </div>
                    </div>
                </form>
            </article>

        </section>
    </div>
</section>
{% endblock content %}