{% extends 'base.html' %} {% block content %}

<section>


    <!-- Modal For User Update-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        UPDATE FORM.
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id={{client.user.username}}>Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <article class="col-12">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Full Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Country</th>
                            <th scope="col">Acc Number</th>
                            <th scope="col">Balance</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for client in clients %}
                        <tr>
                            <td>
                                <a href="{% url 'userprofile' user.username %}">
                                    {{client.user.last_name}}
                                    {{client.user.first_name}}
                                </a>
                            </td>
                            <td>
                                {{client.user.email}}
                            </td>
                            <td>{{ client.country.name}}</td>
                            <td>{{client.account_number }}</td>
                            <td>&#36;{{client.balance}}</td>
                            <td>
                                <a href="{% url 'update_user' client.user.username %}" class="btn btn-warning btn-sm">
                                    Update
                                </a>
                                <a href="#" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Deactivate
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <h1>No Registered Clients</h1>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </article>
        </div>
    </div>
</section>

{% endblock %}