/*
*
*  admin css
*
*/

#staffadmin {
    min-height: 100vh;
    background: seagreen;
}

#staffadmin a .bi {
    font-size: 3rem;
}

#profile .bi{
    font-size: 1.7rem;
}

#profile .profile-action:hover{
    background:#2147bb !important;
    color: white;
}