{% extends 'ibanking/base.html' %}{% load static %} {% block content %}

<section>
    <div class="container py-5">
        <div class="row">
            <article class="col-12 col-sm-4 col-md-4">
                <img class="img-fluid shadow" style="height: 300px; width: 70%; object-fit: cover; object-position: top;" src="{% static 'ibanking/images/avatar.png' %}">
                <div class="pt-4">
                    <p>Your user ID: <span class="text-danger "><b>{{user.username}}</b></span>
                    </p>
                </div>
            </article>
            <article class="col-12 col-sm-8 col-md-5">
                <table class="table">
                    <h5 class="text-primary">BANK INFOS</h5>
                    <tbody>
                        <tr>
                            <td>Account Number</td>
                            <td>{{ user.profile.account_number}}</td>
                        </tr>
                        <tr>
                            <td>Availble Balance</td>
                            <td><b>&#36;{{ user.profile.balance}}</b>
                            </td>
                        </tr>
                        <tr>
                            <td>IBAN</td>
                            <td>{{ user.profile.country }}51 SOUTH 212374 {{ user.profile.account_number}}
                            </td>
                        </tr>
                        <tr>
                            <td>Pin</td>
                            <td>{{ user.profile.transfer_pin}}</td>
                        </tr>

                    </tbody>
                </table>

                <table class="table table-striped">
                    <h5 class="text-primary">USER INFORMATIONS</h5>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{ user.last_name}} {{ user.first_name}} </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ user.email}}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{ user.profile.address}}</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>{{ user.profile.country.name}}</td>
                        </tr>
                        <tr>
                            <td>Date Of Birth</td>
                            <td>{{ user.profile.dob}}</td>
                        </tr>

                    </tbody>
                </table>

            </article>
            <article class="col-12 col-md-3 text-center">
                <div class="">
                    <a href="{% url 'maketransfer' user.username %}" class=" btn btn-info btn-lg">
                        Make Transfer
                    </a>
                </div>
                <div class="pt-4">
                    <a href="{% url 'contact' %}" class=" btn btn-primary">
                        Contact Us
                    </a>
                </div>
                <div class="pt-4">
                    <a href="{% url 'change_pin' %}" class=" btn btn-danger btn-sm">
                        Change Pin
                    </a>
                </div>

            </article>
        </div>
    </div>
</section>

{% endblock %}